body{
    background-color: #f4f4f4;
}

.type {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    text-align:center;
    width: 800px;
    border-bottom: 2px solid lightgrey;
    color: lightgrey;
    padding-bottom: 10px;
}

h1{
    width: 800px;
    color:black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 60px;
    margin: 0;
}

h4{
    width: 800px;
    color: grey;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 23px;
    font-weight:bold;
    margin-top: 5px;
}

.social-media{
    border-bottom:2px solid black;
    border-top: 2px solid black;
    text-align:right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    width: 800px;
    color: grey;
    font-weight: bold;
    text-transform:uppercase;
}

.social-media span{
    position:relative; 
    top: -6px;
}

.social-media ul{
    list-style:none;
    display:inline-block;
}

.social-media ul li{
    display:inline-block;
    padding-left: 5px;
    border-left: 2px solid black;
}

.type span{
    text-transform: uppercase;
    font-weight:bold;
    color: black;
}

.image-title {
    border-bottom: 5px solid blue;
    font-family: arial, helvetica, sans-serif;
    text-transform: uppercase;
    width: 800px;
    font-size: 13px;
}

.image-title p{
    margin-bottom: 0px;
}

.text {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 23px;
    line-height: 1.7em;
    width: 800px
}

#first-paragraph::first-letter {
    font-size: 80px;
    color: blue;
}

.related-news{
    border-bottom: 5px solid blue;
    width: 800px;   
    height: 550px; 
}

h5{
    border-bottom: 5px solid blue; 
    font-size: 50px;
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    text-transform:uppercase;  
}

.related-news ul li{
    display:inline-block;
    width: 400px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform:uppercase;
    color:grey;    
}

.related-news ul li img{
    width: 200px
}

#li2{
    position: relative;
    top: -190px;
    left: 399px;
}

#li3{
    position: relative;
    top: -180px
}

#li4{
    position: relative;
    top: -360px;
    left: 399px;
}

.related-news ul li a{
    text-decoration: none;
    color: grey;
    font-weight: bold;
    text-transform: uppercase
}

.related-news ul li a:hover{
    color: blue
}

a:hover{
    color: blue    
}

a{
    text-decoration: none;
}

footer{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 23px;
    line-height: 1.7em;
    width: 800px;
    padding: 20px;    
}

.comments p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 23px;
    line-height: 1.7em;
    width: 800px;
    border-bottom: 5px solid blue;   
}

.comments textarea{
    width: 800px;
}

.link-otra-noticia{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 23px;
    position: relative;
    top: -80px;
}

.link-otra-noticia a{
    text-decoration: none;
}

.link-otra-noticia a.hover{
    color: blue;
}
